body {
  margin: 0;
}
.homeContainer {
  height: 100vh;
  width: 100vw;
  background-image: url("../public/bgimg.png");
  background-size: cover;
  filter: blur(5px); /* Adjust the blur amount as needed */
  z-index: -1;
}
.homepage {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
h1 {
  font-family: cursive;
  color: white;
  font-size: 50px;
}

.bn5 {
  padding: 1.4em 3em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.bn5:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingbn5 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowingbn5 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.bn5:active {
  color: #000;
}

.bn5:active:after {
  background: transparent;
}

.bn5:hover:before {
  opacity: 1;
}

.bn5:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.header {
  display: flex;
  padding: 0 32px;
  justify-content: space-between;
  background-color: #121721;
  color: #fff;
  font-size: 18px;
  align-items: center;
  height: 68px;
  position: relative;
}
.editablePlaced {
  position: absolute;
  right: 32px;
  top: 88px;
  z-index: 10000;
}
.logout-button {
  background: #00abff;
  color: white;
  padding: 9px 16px;
  border-radius: 8px;
  height: 23px;
  cursor: pointer;
  width: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}
.logOut-container {
  position: absolute;
  top: 12px;
  right: 12px;
}
